src/Grammar*.o 
src/Grammar*.h 
src/Grammar*.cpp 
src/Grammar*.tokens 
src/Grammar*.interp 
src/Grammar*.class 
src/Grammar*.java 
src/*.log
antlr4-runtime
lib
note.txt
exe
exe.dSYM
.gitignore
.DS_Store
makefile