src/Grammar*.o 
src/Grammar*.h 
src/Grammar*.cpp 
src/Grammar*.tokens 
src/Grammar*.interp 
src/Grammar*.class 
src/Grammar*.java 
src/*.log
antlr
asm.s
comp
antlr4-runtime
lib
note.txt
exe
exe.dSYM
.DS_Store
makefile
test.c
asm.o
doTest.sh
allTests.sh
a.out
.vscode

